@import '../../common/rootStyles/variables';
@import '../../common/rootStyles/mixins';

.sign-in-wrapper {
  @include columnFlexbox;
  align-items: center;
  justify-content: center;

  .sign-in-form {
    @include columnFlexbox;
    gap: 15px;
    width: 600px;
    padding: 20px;
    border: 1px solid $light-grey-1;
    border-radius: $border-radius;
    background: $white;
  }

  .submit-button {
    width: 100%;
    padding: 10px 20px;
    color: $white;
    transition: $transition;
  }

  .create-account-wrapper {
    @include rowFlexbox;
    gap: 5px;
    .sign-up-link {
      color: $blue-1;
    }
  }
}
