@import '../../../common/rootStyles/variables';
@import '../../../common/rootStyles/mixins';

.comment {
  @include rowFlexbox;
  justify-content: space-between;
  gap: 5px;
  padding: 8px;
  box-shadow: $box-shadow;

  .comment-content-wrapper {
    @include columnFlexbox;
    align-items: flex-start;
    gap: 5px;

    .comment-author {
      font-size: 14px;
      font-weight: 700;
      color: $purple-dark-1;
    }

    .comment-text {
      font-size: 12px;
      color: $black;
    }
  }

  .delete-comment-button {
    @include button;
    min-width: 20px;
    min-height: 20px;
    padding: 0px;
  }
}
